
.item{
	max-width: calc(25% - 20px);
	margin-bottom: 50px;
	margin-top: 50px;
	background-color: rgba(233, 230, 230, 0.746);
	padding:  1%;
	border-radius: 10px 10px 0 0;
	position: relative;
	padding-bottom: 2%;
	overflow: hidden;
	margin-inline: 10px;
	color: black;
	

}
.item_link{
	text-decoration: none;
	color: black;
}

.like{
	color:  rgb(67, 124, 240);
    font-size: 25px;
	cursor: pointer;
	transition: all .5s ease;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.like.active, .like:hover{
	color: red;
	transform: scale(1.05);
}